<app-header titulo="Date Times"></app-header>
<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Datos de Nacimiento</ion-label>
        </ion-list-header>
        <hr>
        <ion-item>
            <ion-label>Fecha de Nacimiento</ion-label>
            <ion-datetime placeholder="Aqui la Fecha" value="{{fechaNac | date: 'yyyy-MM-dd'}}" displayFormat="YYYY MMMM DD" cancelText="Cancelar!!!!" [ngModel]="fechaNac.toISOString()" (ionChange)="cambioFecha($event)">Fecha Nac</ion-datetime>
        </ion-item>

        <ion-list-header>
            <ion-label>Restricciones</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Min y Max</ion-label>
            <ion-datetime placeholder="yyy-mm-dd" displayFormat="YYYY MMMM DD" min="2015-01-01" max="2015-12-31"></ion-datetime>
        </ion-item>

        <!-- Personalizado -->
        <ion-item>
            <ion-label>Custom Date</ion-label>
            <ion-datetime [pickerOptions]="customPickerOptions" [(ngModel)]="customDate" placeholder="Perzonalizado"></ion-datetime>
        </ion-item>

    </ion-list>
</ion-content>