<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="inicio" text="Regresar"></ion-back-button>
        </ion-buttons>

        <ion-title>Avatar</ion-title>

        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/arthur.png" alt="">
            </ion-avatar>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-chip *ngFor="let item of [1,1,1,1,1,1]">
        <ion-avatar>
            <img src="/assets/arthur.png">
        </ion-avatar>
        <ion-label>Arthur Lem</ion-label>
    </ion-chip>

    <ion-list>
        <ion-item *ngFor="let item of [1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <img src="/assets/arthur.png" alt="">
            </ion-avatar>
            <ion-label>Arthur Lem</ion-label>
        </ion-item>
    </ion-list>

</ion-content>