<app-header titulo="card"></app-header>

<ion-content>
    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-title>Welcome</ion-card-title>
            <ion-card-subtitle>Irving Lemus</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, tempore aspernatur. Ad eum incidunt nesciunt maiores, aut quibusdam unde dicta ipsum delectus! In sit impedit maiores ut molestiae veritatis id?
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aspernatur nam, itaque adipisci saepe recusandae eum nemo nihil aliquam ducimus facilis totam iusto placeat est accusamus nostrum laudantium optio quaerat!
        </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quia ratione accusantium, corrupti nostrum ipsa! Rem aspernatur doloremque placeat debitis, nobis error necessitatibus maiores. In voluptatibus beatae possimus provident voluptatem!
        </ion-card-content>
    </ion-card>

</ion-content>