<app-header [titulo]="'Card'"></app-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, minima! Natus in quibusdam consequatur aliquid culpa dolorum praesentium cum ullam tenetur. Molestias pariatur iste quaerat tenetur, dolorum illo excepturi error!
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrsHVa87wh6SfVN1FNmp0_Ohz6vKtYz5LACtB8uvdhZ_GcRpD8Bphjdo7DeYP3szUvioJ05Ca85iTg9A&usqp=CAU">
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ex! Aut, expedita placeat repellat similique officia atque ratione incidunt voluptatum molestiae dolorem accusantium error eveniet nihil sit nesciunt perferendis magni.
        </ion-card-content>
    </ion-card>
</ion-content>