<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Favoritos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-slides *ngIf="datalocalService.noticias.length === 0" [options]="slideOpts">
        <ion-slide>
            <ion-label>No hay Favoritos</ion-label>
        </ion-slide>
    </ion-slides>

    <app-noticias [noticias]="datalocalService.noticias" *ngIf="datalocalService.noticias.length > 0" [enFavoritos]="true"></app-noticias>
</ion-content>