<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            {{titulo | titlecase}}
        </ion-title>
    </ion-toolbar>


    <ion-segment scrollable mode="md" (ionChange)="cambioCategoria($event)" [value]="categorias[0]">
        <ion-segment-button [value]="cat" *ngFor="let cat of categorias">
            <ion-label class="ion-text-capitalize">{{cat}}</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
    <app-noticias [noticias]="noticias"></app-noticias>

    <ion-infinite-scroll threshold="150px" position="bottom" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando Datos...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>