<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="toggleMenu()">
                <!-- <ion-icon slot="icon-only" name="menu"></ion-icon> -->

                <ion-menu-button menu="primerMenu" color="primary"></ion-menu-button>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">Componentes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-list>
        <ion-item [routerLink]="componente.redirectTo" detail *ngFor="let componente of componentes | async">
            <ion-icon slot="start" [name]="componente.icon" color="primary"></ion-icon>
            <ion-label>
                {{componente.name}}
            </ion-label>
        </ion-item>

    </ion-list>

</ion-content>